@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}
*{
    font-family: 'Cabin', sans-serif;
}
.card-container{
    height: 340px;
    overflow: hidden;   
}
.img-container{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    transition: all 4s ease-in-out;
}
.card-container:hover .img-container{
    object-position: bottom center;
    
}

::-webkit-scrollbar{
    width: 13px;
}
::-webkit-scrollbar-track{
    background: #daeaff
}
::-webkit-scrollbar-thumb{
    background: rgb(255, 178, 34);
    border-radius: 10px;
    
}